<div class="parent">
    <ul class="firstChild">
        <li>
            <a [routerLink]= "'banner'" routerLinkActive >Banner</a>
        </li>
        <li>
            <a [routerLink]= "'ecommerce'" routerLinkActive >e-Commerce Category</a>
        </li>
        <li>
            <a [routerLink]= "'timer'" routerLinkActive >Timer</a>
        </li>
        <li>
            <a [routerLink]= "'timer2'" routerLinkActive >Timer-2</a>
        </li>
        <li>
            <a [routerLink]= "'students'" routerLinkActive >Students Table</a>
        </li>
        <li>
            <a [routerLink]= "'alert'" routerLinkActive >Alert</a>
        </li>
    </ul>
    
    
    <router-outlet></router-outlet>
</div>